<div class="bg-gradient-to-r from-cyan-700 to-teal-500 px-5">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <div class="text-white lg:text-left text-center">
      <h2
        class="lg:text-5xl text-3xl font-extrabold tracking-tight text-white bg-gradient-to-r from-teal-100 to-cyan-200 bg-clip-text text-transparent">
        Kelola Database Anda
      </h2>
      <span class="block text-cyan-50 text-lg font-normal">Hubungkan nomor WhatsApp Anda dan mulailah broadcast sekarang juga</span>
    </div>
    <div class="mt-4 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex rounded-md shadow mx-auto">
        <a
          href="#"
          class="inline-flex items-center justify-center px-6 py-4 border border-transparent text-xl font-medium rounded-md text-cyan-600 bg-white hover:bg-cyan-50">
          Coba Sekarang
        </a>
      </div>
    </div>
  </div>
</div>
