<section class="bg-white dark:bg-gray-900 px-5">
  <div class="py-8 px-5 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="my-10">
      <h2 class="text-3xl lg:text-5xl font-bold tracking-tighter text-center">Pertanyaan yang Sering Ditanyakan</h2>
    </div>
    <div class="grid pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700 md:grid-cols-2">
      <div>
        <div class="mb-10">
          <h3 class="flex items-center mb-2 text-xl font-medium text-gray-900 dark:text-white">
            <svg
              class="flex-shrink-0 mr-2 w-6 h-6 text-cyan-700 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"></path></svg
            >
            Apa Sih Dripsender Ini?
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Dripsender merupakan tools Whatsapp marketing yang memiliki sejumlah fitur yang sangat dibutuhkan oleh pebisnis online yang menggunakan
            Whatsapp sebagai alat promosi atau proses marketing
          </p>
        </div>
        <div class="mb-10">
          <h3 class="flex items-center mb-2 text-xl font-medium text-gray-900 dark:text-white">
            <svg
              class="flex-shrink-0 mr-2 w-6 h-6 text-cyan-700 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"></path></svg
            >
            Dripsender Perlu Diinstall di Komputer/Laptop?
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Tidak perlu. Dripsender berbasis web-based, yang artinya tidak memerlukan penginstalan komputer/laptop. Hanya membutuhkan browser dan juga
            internet untuk mengaksesnya​
          </p>
        </div>

        <div class="mb-10">
          <h3 class="flex items-center mb-2 text-xl font-medium text-gray-900 dark:text-white">
            <svg
              class="flex-shrink-0 mr-2 w-6 h-6 text-cyan-700 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"></path></svg
            >
            Apakah Ada Biaya Bulanan/Tahunan?
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Iya. Bisa bulanan atau tahunan, biaya perpanjangan ini untuk menjamin agar layanan Dripsender bisa terus dinikmati dan update jika
            diperlukan, karena WhatsApp secara official sering sekali melakukan update berkala
          </p>
        </div>
      </div>
      <div>
        <div class="mb-10">
          <h3 class="flex items-center mb-2 text-xl font-medium text-gray-900 dark:text-white">
            <svg
              class="flex-shrink-0 mr-2 w-6 h-6 text-cyan-700 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"></path></svg
            >
            Amankah dari Pemblokiran no. WhatsApp?​
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Dripsender diciptakan dengan berbagai fitur yang bisa meminimalisir pemblokiran no Whatsapp Tapi, perlu diketahui bahwa tidak ada tools
            Whatsapp manapun yang bisa menjamin bahwa no Whatsapp kita bebas dari pemblokiran, karena pemegang kendali pada setiap no Whatsapp adalah
            pihak Whatsapp sendiri
          </p>
        </div>

        <div class="mb-10">
          <h3 class="flex items-center mb-2 text-xl font-medium text-gray-900 dark:text-white">
            <svg
              class="flex-shrink-0 mr-2 w-6 h-6 text-cyan-700 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"></path></svg
            >
            Apakah Bisa Dibantu Menggunakan Dripsender?
          </h3>
          <p class="text-gray-500 dark:text-gray-400">Tentu saja, selain ada video tutorial, pengguna Dripsender juga ada grup Whatsapp</p>
        </div>
        <div class="mb-10">
          <h3 class="flex items-center mb-2 text-xl font-medium text-gray-900 dark:text-white">
            <svg
              class="flex-shrink-0 mr-2 w-6 h-6 text-cyan-700 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"></path></svg
            >
            Bagaimana keamanan data pengguna Dripsender?
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Dripsender tidak mengakses data pribadi / privacy dari setiap penggunanya. Setiap pengguna Dripsender bertanggung jawab atas datanya
            sendiri
          </p>
          <p class="text-gray-500 dark:text-gray-400">
            Selengkapnya soal keamanan data user, silahkan baca pada halaman <a
              href="/privacy"
              class="font-medium underline text-primary-600 dark:text-primary-500 hover:no-underline">Privacy Policy & Disclaimer</a
            >.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
