---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Headers",
    description:
      "In general, Headers contain information that makes it easier for visitors to interact with the website.",
    icon: "flat-color-icons:template",
  },
  {
    title: "Heros",
    description:
      "If you want your website to get more than its fair share of visitors, the Hero section needs to be stellar.",
    icon: "flat-color-icons:gallery",
  },
  {
    title: "Features",
    description:
      "Display your product in action and how the Features actually create a solution for your target customer.",
    icon: "flat-color-icons:todo-list",
  },
  {
    title: "Content",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
    icon: "flat-color-icons:document",
  },
  {
    title: "Call-to-Action",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
    icon: "flat-color-icons:advertising",
  },
  {
    title: "Pricing",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
    icon: "flat-color-icons:currency-exchange",
  },
  {
    title: "Testimonial",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
    icon: "flat-color-icons:voice-presentation",
  },
  {
    title: "Contact",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
    icon: "flat-color-icons:business-contact",
  },
  {
    title: "Footers",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
    icon: "icon-park:page-template",
  },
];
---

<div class="max-full bg-slate-50 lg:py-24 py-12">
  <div class="max-w-screen-xl mx-auto px-5">
    <div class="mt-16 md:mt-0">
      <h2 class="text-3xl lg:text-5xl font-bold tracking-tighter text-center">
        Dripsender Memudahkan Bisnis Anda
      </h2>
      <p class="lg:text-xl text-md mt-4 text-slate-600 text-center">
        Apapun yang Anda butuhkan untuk mengelola bisnis dengan Whatsapp
        marketing ada di sini
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8">
      {
        features.map((item) => (
          <div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-lg hover:shadow-md transition border border-transparent dark:border-slate-800">
            <div class="flex items-center">
              <Icon name={item.icon} class="w-10 h-10" />
              <div class="ml-4 text-xl font-bold">{item.title}</div>
            </div>
            <p class="text-slate-500 mt-1 leading-relaxed">
              {item.description}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</div>
