<footer class="py-6 bg-cyan-700">
  <p class="text-center text-md text-white">
    Copyright © {new Date().getFullYear()} Dripsender. All rights reserved.
  </p>

  <p class="text-center text-sm text-gray-50 mt-1">
    Dripsender is in no way affiliated with WhatsApp. Use at your own discretion. Do not spam people with this
  </p>
</footer>
