<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white px-5 pt-16 pb-16 overflow-hidden">
  <div class="relative">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
          <div class="mt-6">
            <h2 class="text-3xl lg:text-4xl font-extrabold tracking-tight text-gray-900">Hijrah Dari Manual Ke Otomatis</h2>
            <p class="mt-3 text-md text-gray-500">
              Dripsender memungkinkan Anda melakukan proses campaign marketing via WhatsApp dan hampir semuanya dilakukan secara otomatis
            </p>
            <p class="mt-3 text-md text-gray-500">
              Anda hanya perlu melakukan beberapa pengaturan seperti list building, membuat broadcast interaktif, membuat chatbot autoreply, bikin bot
              dan masih banyak yang lainnya.
            </p>
            <p class="mt-3 text-md text-gray-500">Setelah itu, biarkan Dripsender bekerja secara otomatis…</p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <img class="w-3/4 lg:w-[500px] mx-auto" src="./assets/images/tokowa.svg" alt="Inbox user interface" />
      </div>
    </div>
  </div>

  <hr class="my-5 max-w-screen-xl mx-auto" />

  <div class="relative">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
        <div>
          <div class="mt-6">
            <h2 class="text-3xl lg:text-4xl font-extrabold tracking-tight text-gray-900">Hemat Waktu, Tenaga dan Uang</h2>
            <p class="mt-3 text-md text-gray-500">Hemat waktu karena pekerjaan yang seharusnya menyita waktu Anda, kini akan dilakukan Dripsender</p>
            <p class="mt-3 text-md text-gray-500">
              Tenaga yang dibutuhkan adalah saat melakukan pengaturan marketing campaign, selebihnya Dripsender yang mengeksekusi
            </p>
            <p class="mt-3 text-md text-gray-500">
              Dibanding menggaji banyak admin / CS untuk menghandle marketing campain atau follow up, jauh lebih murah menggunakan Dripsender
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <img class="w-3/4 lg:w-[500px] mx-auto" src="./assets/images/tokowa.svg" alt="Inbox user interface" />
      </div>
    </div>
  </div>

  <hr class="my-5 max-w-screen-xl mx-auto" />

  <div class="relative">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
          <div class="mt-6">
            <h2 class="text-3xl lg:text-4xl font-extrabold tracking-tight text-gray-900">Alternatif FB Ads atau Google Ads</h2>
            <p class="mt-3 text-md text-gray-500">
              User Dripsender mengaku, saat ini dia menggunakan Dripsender untuk memasarkan bisnisnya. Tidak lagi menggunakan FB Ads, karena
              menggunakan FB Ads banyak boncosnya.
            </p>
            <p class="mt-3 text-md text-gray-500">
              Karena iklan bisa menyedot bujet hingga Rp100 ribu/hari. Artinya dalam waktu sebulan biaya iklan Rp 3 juta. Sedangkan menggunakan
              Dripsender, sebulan hanya Rp. 99 ribu
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <img class="w-3/4 lg:w-[500px] mx-auto" src="./assets/images/tokowa.svg" alt="Inbox user interface" />
      </div>
    </div>
  </div>

  <hr class="my-5 max-w-screen-xl mx-auto" />

  <div class="relative">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
        <div>
          <div class="mt-6">
            <h2 class="text-3xl lg:text-4xl font-extrabold tracking-tight text-gray-900">Simple Funneling yang Efektif</h2>
            <p class="mt-3 text-md text-gray-500">
              Umumnya tools WA marketing yang dijual di pasaran hanya bisa grabbing nomor kontak, lalu secara seporadis dibombardir dengan broadcast
              massal
            </p>

            <p class="mt-3 text-md text-gray-500">
              Anda butuh Dripsender agar bisa menyeleksi calon customer yang potensial dan membuang database yang tidak prospek.
            </p>
            <p class="mt-3 text-md text-gray-500">
              Teknis funneling sederhana untuk mendapatkan closing bisa diterapkan dengan menggunakan Dripsender
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <img class="w-3/4 lg:w-[500px] mx-auto" src="./assets/images/tokowa.svg" alt="Inbox user interface" />
      </div>
    </div>
  </div>
</div>
